<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="js/angular.min.js"></script>
    <script src="js/searchBusiness.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Stores Near me</title>

</head>
<body>
    <div ng-app = "myApp">
        <div ng-controller="Pagecontroller">
            <div ng-repeat = "item in items">
                <div class="media">
                    <img class="media-object pull-left img-rounded" ng-src="{{item.image_url}}"/>
                    <div class="media-body">
                        <h4 class="media-heading">{{item.name}}</h4>
                        <div class="media-text">{{item.distance | toMiles }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>